
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

*{

margin: 0;
padding: 0;
font-family: "Protest Strike", sans-serif;

}


body{

height: 100vh;
background: rgb(32, 32, 85);
display: flex;
align-items: center;
justify-content: center;
color: #ffff;
}

.relogio{
  
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 50px;
    box-shadow: 0px 8px rgba(0,0, 0.5);


}


.relogio div{

height: 170px;
width: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #fff;
background: rgba(5,5, 5,.9 );
box-shadow: 5px 5px 15px rgba(0,0,0,.7);
border-radius: 7px;
}


.relogio span{

font-weight: bolder;
font-size: 35px;

}

.relogio span .tempo{

font-size: 10px;

}